<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"></meta>
<head th:replace="fragments/header::head">
</head>
<body>
	<nav th:replace="fragments/header::header"></nav>
	<div class="jumbotron">

		<div class="container-fluid">
			<h2>Mes contacts</h2>
		</div>

	</div>
	<div class="container-fluid">
		<div class="col-lg-9">
			<a class="btn btn-md btn-info" href="#" th:href="@{/newemployee}">Ajouter
				un employé <span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
		<div class="col-lg-9">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Numero long </th>
						<th>Numero court </th>
						<th>Mobile</th>
						<th>departement</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e:${employees}">
						<td><span th:text="${e.nom}"></span></td>
						<td><span th:text="${e.nom}"></span></td>
						<td><span th:text="${e.numeroLong}"></span></td>
						<td><span th:text="${e.numeroCourt}"></span></td>
						<td><span th:text="${e.portable}"></span></td>
						<td>to do..</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-xs btn-info">Details</button>
								<button type="button"
									class="btn btn-xs btn-info dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<span class="caret"></span> <span class="sr-only">Toggle
										Dropdown</span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#"><span class="glyphicon glyphicon-edit"></span>
											Modifier</a></li>
									<li><a href="#"><span
											class="glyphicon glyphicon-remove"></span> Supprimer</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:replace="fragments/footer::footer"></div>

</body>
</html>